<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>882535873724-pmg49dm8ml8jepecsdpfnog0ltmod60o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882535873724-pmg49dm8ml8jepecsdpfnog0ltmod60o</string>
	<key>API_KEY</key>
	<string>AIzaSyANT84tbQECbi24lZu2p2hcJbz5q0cBSVI</string>
	<key>GCM_SENDER_ID</key>
	<string>882535873724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flyx</string>
	<key>PROJECT_ID</key>
	<string>flyx-1551400318222</string>
	<key>STORAGE_BUCKET</key>
	<string>flyx-1551400318222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882535873724:ios:a16c1d05abd510dc</string>
	<key>DATABASE_URL</key>
	<string>https://flyx-1551400318222.firebaseio.com</string>
</dict>
</plist>