<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882535873724-ni61vmamo3h92oa4dofom2mukq4tvhnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882535873724-ni61vmamo3h92oa4dofom2mukq4tvhnh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882535873724-ked25n17jp9mo2qdhikl5aa717b02pkm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCanvtxfe2EytQTkeqNv_rm-yJJobTf6mg</string>
	<key>GCM_SENDER_ID</key>
	<string>882535873724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flyx-mobile</string>
	<key>PROJECT_ID</key>
	<string>flyx-1551400318222</string>
	<key>STORAGE_BUCKET</key>
	<string>flyx-1551400318222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882535873724:ios:fe1dbc46175b1fac</string>
	<key>DATABASE_URL</key>
	<string>https://flyx-1551400318222.firebaseio.com</string>
</dict>
</plist>